@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="card bg-dark">
                <div class="card-body text-light">
                    <h5 class="card-title">Employee</h5>
                    <p class="card-text">CRUD System Of Employees</p>
                    <a asp-area="" class="btn btn-primary" asp-controller="Employees" asp-action="Index">Go</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card bg-dark">
                <div class="card-body text-light">
                    <h5 class="card-title">Task</h5>
                    <p class="card-text">Task Management System</p>
                    <a asp-area="" class="btn btn-primary" asp-controller="Todos" asp-action="Index">Go</a>
                </div>
            </div>
        </div>
    </div>
   
</div>
